<!DOCTYPE html>
@using System.Security.Claims
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.log-in').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("LogIn", "Users")',
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (result) {
                        console.log(result)
                        if (result.email != "fail")
                        {
                            $(".logged-out").hide()
                            $(".oops").hide()
                            $(".logged-in").show()
                            $(".greeting").html("Hello " + result.email);
                        }
                        else
                        {
                            $(".oops").show()
                        }
                    }
                });
            });
            $('.search').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("Search", "Users")',
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (result) {
                        $(".results").empty();
                        var re = /\(.+\)/;
                        var trimmedString = result.substr(8);
                        var resultArray = trimmedString.split(re);
                        resultArray.pop();
                        resultArray.forEach(function (entry) {
                            $(".results").append("<li>"+entry+"</li>");
                        });
                    }
                });
            });
            $('.add-exercise').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("AddExercise", "Users")',
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (result) {
                        console.log(result)
                    }
                });
            });
        });
    </script>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello @User.Identity.Name!</p>
        @using (Html.BeginForm("LogOff", "Users"))
        {
            <input type="submit" class="btn btn-default" value="Log out" />
        }
    }
    else
    {
        <div class="logged-out">
            <div class="oops" style="display: none">
                <p>Oops! That does not match our records. Please try again.</p>
            </div>
            <form action="LogIn" class="log-in">
                <label for="username">Username: </label>
                <input type="text" name="username" />
                <label for="password">Password: </label>
                <input type="password" name="password" />
                <button type="submit" class="btn btn-default">Log In</button>
            </form>
        </div>
        <p>@Html.ActionLink("Register", "Create", "Users")</p>
        <div class="logged-in" style="display: none">
            <p class="greeting"></p>
            @using (Html.BeginForm("LogOff", "Users"))
            {
                <input type="submit" class="btn btn-default" value="Log out" />
            }
        </div>
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>
