@{
    ViewData["Title"] = "Account Editing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FitnessLog.Models.User
<h2>Edit Account: @Html.DisplayFor(model=>model.UserName)</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.UserId)
    @Html.LabelFor(model => model.UserName)
    @Html.EditorFor(model => model.UserName)
    @Html.LabelFor(model => model.Age)
    @Html.EditorFor(model => model.Age, new { type = "number", min = "0", max = "99" })
    @Html.LabelFor(model => model.Height)
    @Html.EditorFor(model => model.Height, new { type = "number", min = "0", max = "99" })
    @Html.LabelFor(model => model.Weight)
    @Html.EditorFor(model => model.Weight, new { type = "number", min = "0", max = "999" })
    @Html.LabelFor(model => model.Gender)
    @Html.EditorFor(model => model.Gender, new { type = "number", min = "0", max = "3" })
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to location", "Index")</p>
