@{
    ViewData["Title"] = "Account Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FitnessLog.Models.ApplicationUser
<h2>@Html.DisplayFor(model => model.UserName)'s Log</h2>

<ul>
    @foreach (var entry in Model.Log)
    {
        <li>@Html.DisplayFor(model => entry.Date): @Html.DisplayFor(model => entry.Description) </li>
    }
</ul>


<p>@Html.ActionLink("New Entry", "CreateEntry", new { id = Model.Id })</p>
<p>@Html.ActionLink("Back to location", "Index")</p>