@{
    ViewData["Title"] = "Account Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FitnessLog.Models.ApplicationUser
<h2>@Html.DisplayFor(model => model.UserName)</h2>
<ul>
    <li>@Html.DisplayNameFor(model => model.Gender): @ViewBag.GenderNames[Model.Gender]</li>
    <li>@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)</li>
    <li>@Html.DisplayNameFor(model => model.Height): @Html.DisplayFor(model => model.Height)</li>
    <li>@Html.DisplayNameFor(model => model.Weight): @Html.DisplayFor(model => model.Weight)</li>
</ul>
<h2>User Exercise Frequency Profile:</h2>
<ul>
    @foreach (KeyValuePair<FitnessLog.Models.Exercise, double> pair in ViewBag.UserFrequencies)
    {
        if (pair.Value != 0)
        {
            <li>@pair.Key.Name: @pair.Value%</li>
        }
    }
</ul>
<div class="more-fewer" style="display: none">
    <p>Do More of These: <span class="more"></span></p>
    <p>Do Fewer of These: <span class="fewer"></span></p>
</div>
<h4>Suggested Logs:</h4>
<ol class="suggested-logs"></ol>
<h4>Suggested YouTube Videos:</h4>
<ol class="suggested-videos"></ol>
<form class="find-logs">
    <input type="hidden" name="userId" value=@Model.Id />
    <input type="hidden" name="gender" value=@Model.Gender/>
    <input type="hidden" name="age" value=@Model.Age />
    <input type="hidden" name="height" value=@Model.Height />
    <input type="hidden" name="weight" value=@Model.Weight />
    <button type="submit">Find!</button>
</form>

<p>@Html.ActionLink("Back to Users", "Index")</p>

